@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://css.gg/css?=');

/*-----Code for entire page-----*/
* {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
  text-align: left;
  font-family: 'Abel', sans-serif;
  font-size: 25px;
}

/* --------Top Hero Section-------- */

.topHero{

    background-image:linear-gradient(rgba(0, 0, 0, 0.671),rgba(0, 0, 0, 0.63)),url(./Images/Hero\ Bar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;   
    position: relative;
}
  /* ------ Logo ----- */
.logo { 
    width: 90px;
    Height: 80px;
    position: relative;
    top: -80px;
    left: 1230px;
    
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: center;

}

.navTop {
    background-color: rgb(27, 185, 172); 
    height: 90px;
    position: relative;
}

li a {
    display: inline-block;
    font-family: 'Abel', sans-serif;
    font-size: 22px;
    font-weight: 500px;
    color: #000;
    text-shadow: #fff 2px 2px 5px;
    text-decoration: none;
    margin: 0 auto ;

}

.nav_links li {
list-style: none;
display: inline-block;
}

.nav_links li a{
   padding: 8px 5px;
   transition: all .3s;
}  

.nav_links li a:hover {
    transform: scale(1.1);
    color:#fff;
    text-shadow: 3px 3px 3px rgb(20, 39, 37);
   
} 



/*-----Slogan Section-----*/
/* .sloganContainer {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */

.sloganContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.slogan{
    color: #fff;
    font-size: 80px;
    font-family: 'Caveat', cursive;
}


.pots{
    text-transform: uppercase;
    text-shadow: 2px 2px #fff;
    color: rgb(27, 185, 172);
    font-size: 100px;
    font-family:'Bowlby One', cursive;
    letter-spacing: 3px;
}

/*---------Logo and Message Section-----------*/
.logo-bg{
    background-image: linear-gradient(to bottom right, rgb(243, 232, 232), rgb(27, 185, 172));
    height: 80vh;
}

.logo_main {
    box-sizing: border-box;
   display: block;
   width: 300px;
   height: 180px;
   margin: 0px auto ;
   padding-top: 40px; 
}

/* Message Below */
.ownerMessage h2{
    display: block;
    text-align: center;
    margin:20px 0px;
    color: #000;
    font-size: 30px;
    text-shadow: 2px 2px 4px #fff;
    text-transform: capitalize;
    
}
.ownerMessage p{
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding-bottom: 10px ;
    line-height: 130%;
    word-spacing: 0.1em;
    color: #000;
}
/*-----Man with wine  Cover Picture Section-----*/


.resturantArt{
    background-image:linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.514)),url(./Images/Man\ hat\ smile.jpg);
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    height: 75vh;
    position: relative;
  
    
}

/*-------What's in those POTS Section ------- */
.cuisineSectionMain {
    height: 90vh;
    
}


.cuisineSection {
    display: block;
    text-align: center;
    color: #000;
    font-size: 30px;
    padding: 40px 0px 20px 0px;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    text-transform: capitalize;

}

.cuisineSection-Container {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;

}


.cuisineSection-Container p{

    padding: 5px;
    line-height: 130%;
    word-spacing: 0.1em;
    color: #000;
    position: relative;
    padding-left: 20px;
    width: 80%;
    margin: 40px 100px;

    
}

.cuisineSectionFoodPic {
    border-radius: 3px;
    margin: 20px 100px 0 0;
    width: 500px;
    height: 375px;
}


/* --------Entertainment Video Secion------------ */
 .entertainment_section  h3 {
    color: #000;
    font-size: 40px;
    text-transform: capitalize;
    text-align: center;
    padding-top: 50px;
    margin: 0;
   
}

 .entertainment_section p {
    display: block;
    padding-top: 20px;
    text-align: justify;
    width: 60%;
    margin: 0 auto 100px auto;
    line-height: 140%; */
}

.video-Container {
    position: relative;

 
}

video {display: block;
    width: 100%;
    position: relative;
    filter: brightness(0.4);
}
 

.videoText {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 36px;
  text-align: center;
  z-index: 1;

  
  }
  
  .videoText  h3 {
    
    display: block;
    position: relative;
    top: -70px;
    text-align: center;
    color: #fff;
    font-size: 36px;
    padding: 20px 0px 20px 0px;
    text-shadow: 2px 2px 5px rgb(22, 24, 24);
    text-transform: capitalize;
  }

  .videoText p {

    text-align: center;
    padding: 5px;
    line-height: 130%;
    word-spacing: 0.1em;
    font-size: 30px;
    color: #fff;
    width: 100%;
    text-shadow: 2px 2px 2px #000; 
   
    
  }

  /* **** ----Pots of the Week Section ---- **** */
.potsOfWeek {
    
    background-image: linear-gradient(to bottom right, rgb(243, 232, 232), rgb(27, 185, 172));
    height: 95vh;   
}

.potsOfWeek h2 {

    display: block;
    text-align: center;
    color: #000;
    text-shadow: 2px 3px 6px #fff;
    font-size: 30px;
    padding: 60px 0 20px 0;
  
    
}

.pots-Container {
    width: 100%;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    margin-top: 30px;
    padding: 10px;

  
}

.pots-image {
    position: relative;
    display: block;
}


.pots-Content {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background:rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: .6s;
  }

  .pots-Content:hover {
    opacity: 1;
  }

  .pots-Content h1 {
    padding: 5px;
    color: #fff;
    margin-bottom: 15px;
  }

  .pots-Content p {
    color: #fff;
    font-size: 18px;
    padding: 0 10px;
  }



/*----------Nightlife Section--------------*/
.hero_nightlife {
    background-image:linear-gradient(rgba(0, 0, 0, 0.082),rgba(17, 17, 17, 0.863)),url(./Images/HER.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}

.nightlife_container {
    width: 90%;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: center;
    align-content: center;

    flex-wrap: nowrap;
    position: relative;

}

.nightlife_title {
    position: relative;
    color: #fff;
    text-shadow: 2px 3px 5px #05998f;
    font-size: 50px;
    padding: 10px;
    font-family: 'Abel', sans-serif;
    text-transform: capitalize;
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
    transition: all .3s ease-in-out;
    cursor: pointer;
    margin-top: 30px;

}



.nightlife_title:hover {
    transform: scale(1.1);
    font-family:'Bowlby One', cursive;
    color: #05998f;
    font-weight: 300;
    text-shadow: 4px 3px 8px #fff;
    padding: 5px;
    text-transform: uppercase;
}


.nightlife_content {
    margin: 0;
    width: 80%;
    position: relative;
   
}

.nightlife_content h3 {
    color: #05998f;
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
    text-shadow: 1px 2px 2px #fff;
    padding-bottom: 10px;
    margin: 25px auto;

}

.nightlife_content p{
     font-size: 23px;
    color: #fff;
    text-align: justify;
    padding: 0 25px; 
   

}


/* Social Media Icons Code */
.IconsContainer {
    background-image: linear-gradient(to bottom right, rgb(243, 232, 232), rgb(27, 185, 172));
    height: auto;

}

 .social-icons {
    display: flex;
    justify-content: center;
 }

.fa {
    padding: 12px 0;
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    margin: 20px 5px 10px 5px;
    border-radius: 50%;
  
  }

  .fa:hover {
    opacity: 0.7;
}
/* Style for all social media icons above */

.fa-facebook {
    background: #3B5998;
    color: white;
  }

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #125688;
    color: white;
  }

  .fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  }

  .footerText p{
    display: block;
    font-size: 20px;
    text-align: center;
    padding-top: 10px;
 }

 .CopyrightText p{
    display: block;
    font-size: 12px;
    text-align: center;
    padding-top: 5px;
 }