@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

* {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
  text-align: left;
  font-family: 'Abel', sans-serif;
  font-size: 25px;
  color: #000;

}


.container{
    width: 80%;
    margin: 0 auto 0 auto;
}

header{

    display: flex;
    justify-content:space-between;
    align-content: center; 
    padding: 30px 10%;
    background-image:linear-gradient(rgba(0, 0, 0, 0.932),rgba(0, 0, 0, 0.712)),url(./Images/Hero\ Bar.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    
}

li a {
    font-family: 'Abel', sans-serif;
    font-size: 22px;
    color: rgb(209, 195, 195);
    text-decoration: none;
    text-transform: uppercase;

}

.nav_links {
list-style: none;
}

.nav_links li {
   display: inline-block;
   padding: 0px 30px;
}  

.nav_links li a:hover {
    color:rgba(0, 0, 0, 0.747);
    text-shadow: 1px 1px 3px #fff;
}

.logo { 
    width: 150px;
    Height: 150px;
    cursor: pointer;
}

.slogan{
    color: #fff;
    font-size: 96px;
    font-family: 'Abel', sans-serif;
    text-transform: capitalize;
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
 
}
/*---------End of Header-----------*/

.logo_main {
    box-sizing: border-box;
    display: block;
    width: 350px;
    height: 250px;
    margin: 150px auto 100px auto;
}

h2 {
    font-size: 36px;
    text-align: center;
    margin: 150px auto 25px auto;

}

.meal_img {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.food{
    width: 100%;
    list-style: none;
    border:1px solid #fff;
}

.size_img{
    width: 300px;
    height: 325px;
    margin: 25px auto 0px auto;
}

.size_img:hover {
 background-color: rgba(0, 0, 0, 0.671)rgba(0, 0, 0, 0.63);
 opacity: 0.7;

}